ppt-to-word-ai/src/__pycache__/ai_writer.cpython-310.pyc
ppt-to-word-ai/src/__pycache__/main.cpython-310.pyc
ppt-to-word-ai/src/__pycache__/pdf_processor.cpython-310.pyc
ppt-to-word-ai/src/__pycache__/ppt_processor.cpython-310.pyc
ppt-to-word-ai/src/__pycache__/word_generator.cpython-310.pyc
